In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('complete_npis_inherited_policies.csv')

In [3]:
df.head()

,fip_code,county,state,npi,start_date,end_date,citation,note
0,1,NaN,Alabama,gathering_size_10_0,3/28/20,NaN,http://www.alabamapublichealth.gov/news/2020/0...,max 10 people permitted if maintain 6 feet
1,1,NaN,Alabama,gathering_size_25_to_11,3/19/20,NaN,http://www.alabamapublichealth.gov/news/2020/0...,NaN
2,1,NaN,Alabama,non-essential_services_closure,3/28/20,NaN,http://www.alabamapublichealth.gov/news/2020/0...,T
3,1,NaN,Alabama,shelter_in_place,4/4/20,NaN,https://governor.alabama.gov/assets/2020/04/Fi...,outside rec is okay with proper social distan...
4,1,NaN,Alabama,closing_of_public_venues,3/28/20,NaN,http://www.alabamapublichealth.gov/news/2020/0...,3/19/20 order only for restaurants to do take ...

In [4]:
pivot = df.pivot(index='fip_code', columns='npi', values='start_date')
pivot.reset_index(inplace=True)
pivot.head()

npi,fip_code,Other,closing_of_public_venues,gathering_size_100_to_26,gathering_size_10_0,gathering_size_25_to_11,gathering_size_500_to_101,lockdown,non-essential_services_closure,religious_gatherings_banned,school_closure,shelter_in_place,social_distancing
0,1,NaN,3/28/20,3/16/20,3/28/20,3/19/20,3/13/20,NaN,3/28/20,4/4/20,3/20/20,4/4/20,4/3/20
1,2,3/17/20,3/18/20,NaN,3/24/20,NaN,NaN,NaN,3/28/20,3/24/20,3/16/20,3/28/20,3/28/20
2,4,NaN,3/31/20,NaN,NaN,NaN,NaN,NaN,3/31/20,NaN,3/15/20,3/31/20,3/31/20
3,5,NaN,3/20/20,NaN,3/27/20,NaN,NaN,NaN,4/6/20,NaN,3/19/20,NaN,3/27/20
4,6,NaN,3/19/20,NaN,3/16/20,NaN,3/11/20,NaN,3/19/20,3/19/20,3/19/20,3/19/20,3/19/20

In [5]:
pivot.loc[pivot.fip_code.isin([13121, 13089, 22071, 22051, 26163, 26125, 53033, 36061])]

npi,fip_code,Other,closing_of_public_venues,gathering_size_100_to_26,gathering_size_10_0,gathering_size_25_to_11,gathering_size_500_to_101,lockdown,non-essential_services_closure,religious_gatherings_banned,school_closure,shelter_in_place,social_distancing
133,13089,NaN,3/23/20,,3/23/20,,,NaN,3/28/20,,3/16/20,3/28/20,3/23/20
136,13121,NaN,3/24/20,NaN,3/24/20,NaN,NaN,NaN,3/31/20,NaN,3/13/20,3/31/20,3/24/20
173,22051,NaN,3/16/20,3/16/20,3/13/20,NaN,3/13/20,NaN,3/23/20,3/23/20,3/13/20,3/23/20,3/23/20
176,22071,NaN,3/16/20,3/16/20,3/17/20,NaN,3/13/20,NaN,3/20/20,3/20/20,3/13/20,3/20/20,3/20/20
217,26125,NaN,3/16/20,,,,,NaN,3/22/20,3/23/20,3/16/20,3/23/20,3/23/20
221,26163,NaN,3/16/20,3/17/20,,NaN,3/13/20,NaN,3/22/20,NaN,3/16/20,3/24/20,3/25/20
267,36061,NaN,3/16/20,,3/22/20,,,NaN,3/22/20,3/27/2020,3/16/20,3/22/20,3/22/20
376,53033,NaN,3/16/20,3/16/20,,,3/11/20,NaN,3/16/20,3/16/20,3/12/20,3/23/20,3/11/20

In [6]:
# load zip2fips
zip2fips = pd.read_csv('../zip2fips.csv')
zip2fips.drop(columns='City')

       ZIP   FIPS
0    31192  13121
1    31196  13121
2    31193  13121
3    31195  13121
4    30307  13089
..     ...    ...
598  11499  36081
599  11692  36081
600  11693  36081
601  11694  36081
602  11697  36081

[603 rows x 2 columns]

In [12]:
# join zip2fips with interventions so each intervention is keyed to a zip code
npi_zip = zip2fips.join(pivot.set_index('fip_code'), on='FIPS')
npi_zip = npi_zip.drop(columns=['City','FIPS','Other','gathering_size_100_to_26','gathering_size_10_0',
                                'gathering_size_25_to_11','gathering_size_500_to_101','lockdown',
                                'religious_gatherings_banned'])
npi_zip.head()

,ZIP,closing_of_public_venues,non-essential_services_closure,school_closure,shelter_in_place,social_distancing
0,31192,3/24/20,3/31/20,3/13/20,3/31/20,3/24/20
1,31196,3/24/20,3/31/20,3/13/20,3/31/20,3/24/20
2,31193,3/24/20,3/31/20,3/13/20,3/31/20,3/24/20
3,31195,3/24/20,3/31/20,3/13/20,3/31/20,3/24/20
4,30307,3/23/20,3/28/20,3/16/20,3/28/20,3/23/20

In [26]:
columns = ['closing_of_public_venues', 'non-essential_services_closure',
           'school_closure', 'shelter_in_place', 'social_distancing']
for col in columns:
    weekcol = col + '_week'
    weekdaycol = col + '_weekday'
    npi_zip[weekcol] = [int(datetime.strptime(npi_zip.iloc[i][col],'%x').strftime('%U'))
                        for i in range(len(npi_zip[col]))] 
    npi_zip[weekdaycol] = [int(datetime.strptime(npi_zip.iloc[i][col],'%x').strftime('%w'))
                           for i in range(len(npi_zip[col]))] 
npi_zip.head()

,ZIP,closing_of_public_venues,non-essential_services_closure,school_closure,shelter_in_place,social_distancing,closing_of_public_venues_week,closing_of_public_venues_weekday,non-essential_services_closure_week,non-essential_services_closure_weekday,school_closure_week,school_closure_weekday,shelter_in_place_week,shelter_in_place_weekday,social_distancing_week,social_distancing_weekday
0,31192,3/24/20,3/31/20,3/13/20,3/31/20,3/24/20,12,2,13,2,10,5,13,2,12,2
1,31196,3/24/20,3/31/20,3/13/20,3/31/20,3/24/20,12,2,13,2,10,5,13,2,12,2
2,31193,3/24/20,3/31/20,3/13/20,3/31/20,3/24/20,12,2,13,2,10,5,13,2,12,2
3,31195,3/24/20,3/31/20,3/13/20,3/31/20,3/24/20,12,2,13,2,10,5,13,2,12,2
4,30307,3/23/20,3/28/20,3/16/20,3/28/20,3/23/20,12,1,12,6,11,1,12,6,12,1

In [28]:
npi_zip.to_csv('npi_policies_by_zip.csv')